openapi: 3.0.0
info:
  title: Graph Generator
  description: This is an application for creating bar graphs and spider plots.
  termsOfService: https://graphconstructor.com/termsofservice
  contact:
    name: Devin Atkin
    url: https://graphconstructor.com/legal
    email: devin@graphconstructor.com
  version: 1.0.0
servers:
- url: https://graphconstructor.com
  description: Google Cloud Run 1
paths:
  /spider_plot:
    post:
      summary: Create a spider plot
      description: >
        To create a spider plot, use an array of data_sets where each data_set contains an array of values and a corresponding legend. Optionally set a maximum value or use the highest value in the array.
      operationId: spider_plot
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SpiderPlotRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpiderPlotResponse'
        '400':
          description: Bad Request
          content:
            text/html:
              schema:
                type: string
  /bar_graph:
    post:
      summary: Create a bar graph
      description: >
        Create a bar graph from an array of values, categories, xlabel, ylabel, and title. Response type defaults to 'bucketurl' but can be set to 'base64'.
      operationId: bar_graph
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BarGraphRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BarGraphResponse'
        '400':
          description: Bad Request
          content:
            text/html:
              schema:
                type: string
components:
  schemas:
    SpiderPlotRequest:
      type: object
      properties:
        data_sets:
          type: array
          items:
            type: object
            properties:
              values:
                type: array
                items:
                  type: number
              legend:
                type: string
        categories:
          type: array
          items:
            type: string
        max_value:
          type: number
    SpiderPlotResponse:
      type: object
      properties:
        image:
          type: string
          format: byte
    BarGraphRequest:
      type: object
      properties:
        values:
          type: array
          items:
            type: number
        categories:
          type: array
          items:
            type: string
        xlabel:
          type: string
        ylabel:
          type: string
        title:
          type: string
    BarGraphResponse:
      type: object
      properties:
        image:
          type: string
          format: byte
