openapi: 3.0.0
info:
  title: Graph Generator
  description: This is an application for creating bar graphs and spider plots.
  termsOfService: https://graphconstructor.com/termsofservice
  contact:
    name: Devin Atkin
    url: https://graphconstructor.com/legal
    email: devin@graphconstructor.com
  version: 1.0.0
servers:
- url: https://graphconstructor.com
  description: Google Cloud Run 1
paths:
  /spider_plot:
    post:
      summary: Create a spider plot
      description: >
        To create a spider plot,
        use an array of values, categories, and a legend.
        Optionally set a maximum value or use the highest value in the array.
        If one item in the legend, values match categories. If multiple items, the number of values equals categories multiplied by legend items.
      operationId: spider_plot
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SpiderPlotRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpiderPlotResponse'
        '400':
          description: Bad Request
          content:
            text/html:
              schema:
                type: string
  /bar_graph:
    post:
      summary: Create a bar graph
      description: >
        Create a bar graph from an array of values, categories, legend, and max value.
      operationId: bar_graph
      requestBody:
        content:
          image/png:
            schema:
              $ref: '#/components/schemas/BarGraphRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            image/png:
              schema:
                $ref: '#/components/schemas/BarGraphResponse'
        '400':
          description: Bad Request
          content:
            text/html:
              schema:
                type: string

components:
  schemas:
    SpiderPlotRequest:
      type: object
      properties:
        values:
          type: array
          items:
            type: number
        categories:
          type: array
          items:
            type: string
        legend:
          type: array
          items:
            type: string
        max_value:
          type: number
    SpiderPlotResponse:
      type: object
      properties:
        image:
          type: string
          format: byte
    BarGraphRequest:
      type: object
      properties:
        values:
          type: array
          items:
            type: number
        categories:
          type: array
          items:
            type: string
        xlabel:
          type: string
        ylabel:
          type: string
        title:
          type: string
    BarGraphResponse:
      type: object
      properties:
        image:
          type: string
          format: byte
