<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <title>Graph Generator</title>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script>
        $(document).ready(function() {
            $("#graph-type").change(function() {
                var selectedOption = $(this).children("option:selected").val();
                if (selectedOption === "spider") {
                    $("#spider-form").show();
                    $("#bar-form").hide();
                } else if (selectedOption === "bar") {
                    $("#spider-form").hide();
                    $("#bar-form").show();
                } else {
                    $("#spider-form").hide();
                    $("#bar-form").hide();
                }
            });

            $("#spider-form form").submit(function(e) {
                e.preventDefault(); // Prevent the default form submission
                var formData = {
                    categories: $("#categories").val().split(",").map(function (item) {
                        return item.trim();}),
                    values: $("#values").val().split(",").map(function (item) {
                        return parseInt(item.trim());}),
                    response_type: "base64",
                    legend: $("#legend").val().split(",").map(function (item) {
                        return item.trim();})
                };
                $.ajax({
                    type: "POST",
                    url: "/spider_plot",
                    data: JSON.stringify(formData),
                    contentType: "application/json",
                    responseType: "arraybuffer",
                    success: function(response) {
                    // convert to Base64

                        displayImage(response);
                                // Show success toast notification
                        Toastify({
                            text: "Graph generated successfully",
                            backgroundColor: "green",
                            duration: 3000
                        }).showToast();
                        // Handle the response from the server
                    },
                    error: function(error) {
                        console.error(error);

                                // Show error toast notification
                        Toastify({
                            text: "Error generating graph",
                            backgroundColor: "red",
                            duration: 3000
                        }).showToast();
                        // Handle the error case
                    }
                });
            });

            $("#bar-form form").submit(function(e) {
                e.preventDefault(); // Prevent the default form submission
                var formData = {
                    categories: $("#bar-categories").val().split(",").map(function (item) {
                        return item.trim();}),
                    values: $("#bar-values").val().split(",").map(function (item) {
                        return parseInt(item.trim());}),
                    response_type: "base64",
                    title: $("#title").val(),
                    xlabel: $("#xlabel").val(),
                    ylabel: $("#ylabel").val()
                };
                $.ajax({
                    type: "POST",
                    url: "/bar_graph",
                    data: JSON.stringify(formData),
                    contentType: "application/json",
                    responseType: "arraybuffer",
                    success: function(response) {
                        
                        displayImage(response);
                                // Show success toast notification
                        Toastify({
                            text: "Graph generated successfully",
                            backgroundColor: "green",
                            duration: 3000
                        }).showToast();
                        // Handle the response from the server
                    },
                    error: function(error) {
                        console.error(error);

                                // Show error toast notification
                        Toastify({
                            text: "Error generating graph",
                            backgroundColor: "red",
                            duration: 3000
                        }).showToast();
                        // Handle the error case
                    }
                });
            });

            // Display the image in the image container
            function displayImage(response) {
                // Get the image container
                var imageContainer = document.getElementById("image-container");

                // Clear the image container
                imageContainer.innerHTML = "";

                // Create an img element
                var img = document.createElement("img");

                // Set the src attribute to the base64 image data
                img.src = "data:image/png;base64," + response.image;

                // Append the img element to the image container
                imageContainer.appendChild(img);

                // Create a download link
                var downloadLink = document.createElement("a");
                downloadLink.href = "data:image/png;base64," + response.image;
                downloadLink.download = "image.png";
                downloadLink.textContent = "Download Image";

                // Append the download link to the image container
                imageContainer.appendChild(downloadLink);

                console.log("Image displayed");
            }



        });
    </script>
</head>
<body>
    <h1>Graph Generator</h1>
    <form>
        <label for="graph-type">Graph Type:</label>
        <select id="graph-type" name="graph-type">
            <option value="">Select a graph type</option>
            <option value="spider">Spider Graph</option>
            <option value="bar">Bar Graph</option>
        </select>
    </form>

    <!-- Spider Graph Form -->
    <div id="spider-form" style="display: none;">
        <form>
            <label for="categories">Categories:</label>
            <input type="text" id="categories" name="categories"><br>

            <label for="values">Values:</label>
            <input type="text" id="values" name="values"><br>

            <label for="legend">Legend:</label>
            <input type="text" id="legend" name="legend"><br>

            <input type="submit" value="Generate">
        </form>
    </div>

    <!-- Bar Graph Form -->
    <div id="bar-form" style="display: none;">
        <form>
            <label for="bar-categories">Categories:</label>
            <input type="text" id="bar-categories" name="bar-categories"><br>

            <label for="bar-values">Values:</label>
            <input type="text" id="bar-values" name="bar-values"><br>

            <label for="title">Title:</label>
            <input type="text" id="title" name="title"><br>

            <label for="xlabel">X Label:</label>
            <input type="text" id="xlabel" name="xlabel"><br>

            <label for="ylabel">Y Label:</label>
            <input type="text" id="ylabel" name="ylabel"><br>

            <input type="submit" value="Generate">
        </form>
    </div>

   <!-- Image Container -->
   <div id="image-container"></div>


    <!-- Links to Legal Template and Terms Template -->
    <footer>
        <div>
            <a href="{{ url_for('legal') }}">Legal Template</a>
            <a href="/termsofservice">Terms of Service</a>
        </div>
    </footer>
</body>
</html>
