<!DOCTYPE html>
<html>
<head>
    <title>Legal Document</title>
    <style>
        body {
            text-align: center;
            background-image: url("/static/logo.png");
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
        }

        .container {
            max-width: 600px;
            margin: 0 auto;
            padding: 40px;
            background-color: white;
            opacity: 0.9;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Legal Document</h1>
        /* This program is free software. It comes without any warranty, to
        * the extent permitted by applicable law. */
    </div>


</body>
</html>
